*.iml
.idea
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
# Local configuration file (ex. SDK path)
local.properties

# Google Services (ex. APIs and Firebase)
google-services.json
GoogleService-Info.plist

# Firebase Hosting
.firebaserc
firebase-debug.log

# Build generated
build/
DerivedData/

# Built application files
*.apk
*.ap_

# Android Studio Navigation editor temp files
.navigation/
